# Byte-compiled / optimized / DLL files
__pycache__/

# Virtual environments
venv/
env/
.venv/
.env/
ENV/
env.bak/
venv.bak/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
*.pytest_cache/
pytest_cache/


# Logs
logs/
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE directories
.vscode/
.idea/

# Local config
*.env
*.local
.env.*

#trascription and summarization data
data/